//LAYOUT

$primeira-cor: #BF4C41;
$segunda-cor:#D97F30;
$terceira-cor:#7ED9AE;
$quarta-cor:#548DBF;
$quinta-cor:#A62957;

#Content {background-color: rgb(146, 101, 140);}
#Footer {background-color: rgb(255, 255, 255);}


.Cor{color:$quinta-cor}