//LAYOUT

$primeira-cor: #BF4C41;
$segunda-cor: #D97F30;
$terceira-cor: #7ED9AE;
$quarta-cor: #548DBF;
$quinta-cor: #A62957;
$white: #FFFFFF;

#Content {
  background-color: rgb(146, 101, 140);
}

#Footer {
  background-color: rgb(255, 255, 255);
}

.Cor {
  color: $quinta-cor
}

//DEIXA O SITE AINDA MAIS RESPONSIVO, DEMINUINDO OS ELEMENTOS PROPORCIONALMENTE A PAGINA
@mixin layout-default {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh);
  min-width: fit-content;
  position: relative;
  z-index: 1;
}

@mixin espacamento {
  line-height: 1.5rem;
}

@mixin padding-icons {
  padding: 20px;
}



//HOME 
#content {
  @include layout-default
}

#Layout {
  background-color: transparent;
}

.bg {

  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg,
      (#548DBF) 0%,
      (#A62957) 25%,
      (#D97F30) 51%,
      (#7ED9AE) 100%);
  animation: AnimateBG 20s ease infinite;
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

#logo {
  width: 80px;
  height: 80px;
  margin-top: 25px;
  margin-bottom: 0px;
}

#logo2 {
  width: 80px;
  height: 80px;
  margin-top: 20px;
  margin-bottom: 20px;

}


#code2 {

  color: $quarta-cor;
}

#title {
  color: $white;
  line-height: 2.5rem;
  margin-top: 0px;
  text-transform: uppercase;
}

#paragraph {
  color: $white;
  margin-top: 16px;
  line-height: 1.5rem;
}

#button-Home {
  background-color: $white;
  opacity: 50%;
  color: #A62957;
  font-weight: bold;
  width: 199px;
  height: 48px;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
}


#developer-Col {
  background-color: rgb(14, 6, 54);
  
}

#developer-Title {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 40px 0px 10px 0px;
  color: $terceira-cor;
}

#developer-Subtitle {
  font-size: 32px;
  margin: 20px 0px 10px 0px;
  color: $white;
}

#developer-Description {
  line-height: 1.5rem;
  font-size: 10px;
  margin: 20px 0px 60px 0px;
  color: $white;
}

#construcao {
 
  font-size: 20px;
  color:$white;
  font-weight: bold;
  text-transform: uppercase;


}

#icon-curly {
  margin: 40px 0px 0px 0px;
  color: $white;
  --fa-animation-duration: 15s
}

#crescer {
  @include espacamento;
  color: $white;
  font-size: 14px;
 
}

@mixin divlinguage {
  max-width: 100%;
  max-height: auto;
  object-fit: contain;
  padding: 0px;
  margin: 0px;

}

#html {
  @include divlinguage();
 
}

#css {
  @include divlinguage();
  
}

#bootstrap {
  @include divlinguage();
 
}

#js {
  @include divlinguage();
  
}

#vue {
  @include divlinguage();
  
}

#angular {
  @include divlinguage();
 
}

#react {
  @include divlinguage();
  
}

#github {
  @include divlinguage();
  
}
